@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 34px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
  ::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.dark {
  --backgroundColor: 0 0 0;
  --textAccentColorOne : 256 256 256;
  --textAccentColorTwo : 199 199 199;
  --textAccentColorThree : 170 170 170;
  --sectionItemBackground : 12 12 12;
  --divider: 14 14 14;
}